.ana_box {
  width: 100%;
  margin: 3em auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.ana_box div {
  height: 2em;
  line-height: 2em;
  margin: 0 auto;
  border-left: 6px solid #fc0b1b;
  padding-left: 1em;
}
