body {
  padding: 0;
  margin: 0;
}
.container {
  position: absolute;
  width: 100%;
  height: 136vh;
  background-image: url("../image/index/img.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container .top {
  width: 100%;
  height: 136vh;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(18,18,18,0.5);
}
.container .top .top-title {
  position: absolute;
  top: 10%;
  left: 7%;
}
.container .top .top-title .txt-1 {
  color: #fff;
  font-size: 10rem;
  font-weight: 500;
  padding: 0;
  font-family: webfont2, serif;
}
.container .top .top-title .txt-2 {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 20px;
  font-family: txt3, serif;
}
.container .top .middle-title {
  position: absolute;
  bottom: 30%;
  right: 6%;
}
.container .top .middle-title .txt-1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  font-family: txt3, serif;
  text-align: right;
  letter-spacing: 20px;
}
.container .top .middle-title .txt-2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  font-family: txt3, serif;
  text-align: right;
  letter-spacing: 20px;
}
.container .top .middle-title .txt-3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  font-family: txt2, serif;
  text-align: right;
  letter-spacing: 20px;
}
.container .top .top-bottom-txt {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 20px;
  color: #fff;
  font-size: 1.8rem;
  font-family: txt3, serif;
}
.bg {
  width: 100%;
  height: 136vh;
  position: fixed;
  top: 0;
  background-image: url("../image/index/img.png");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  z-index: -1;
/*-webkit-filter: grayscale(100%);*/
/*filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);*/
}
.content-bottom {
  height: 136vh;
}
