.post-nav {
  border-color: #1b1d25;
  width: 30%;
  margin: 20px auto;
  margin-top: 38px;
  padding: 0 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #666;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-nav .post-nav-item {
  display: inline-block;
  text-decoration: none;
}
.post-nav .post-nav-item {
  font-weight: 700;
}
.post-nav .post-nav-item .post-title {
  color: #6e6e6e;
  opacity: 0.9;
}
.post-nav .post-nav-item:hover .post-title,
.post-nav .post-nav-item:focus .post-title {
  color: #fc0b1b;
}
.post-nav .post-nav-item .nav-arrow {
  color: #767f87;
  margin-bottom: 6px;
}
