html {
  scroll-behavior: smooth;
}
.post-container {
  padding: 20px;
  margin-left: 60px;
}
.post-container .post-header {
  margin-bottom: 10px;
}
.post-container .post-header .post-title {
  position: relative;
  font-size: 2em;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.post-container .post-header .post-title:not(.header-title.center)::before {
  content: '';
  border-left: 5px solid #fc0b1b;
  position: absolute;
  left: -15px;
  height: 75%;
  top: 12%;
}
.post-container .post-header .post-title.center {
  text-align: center;
}
@include media-query($on-mobile) {
  font-size: 1.9em;
}
.post-container .post-header .post-meta {
  padding-top: 3px;
  line-height: 1.3;
  color: #6b7886;
}
.post-container .post-header .post-meta time {
  position: relative;
  margin-right: 1.5em;
}
.post-container .post-header .post-meta time::after {
  background: #ececec;
  bottom: 1px;
  content: " ";
  height: 2px;
  position: absolute;
  right: -20px;
  width: 12px;
}
.post-container .post-header .post-meta span[itemprop="author"] {
  border-bottom: 1px dotted #ececec;
}
.post-content {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px;
}
.post-content .highlight {
  overflow-x: auto;
  margin: 10px 0;
}
.post-content .highlight:before {
  color: #6b7f94;
  opacity: 0.3;
  content: attr(data-lang);
  font-size: 1.9em;
  font-weight: 700;
  position: absolute;
  right: 0.3rem;
}
.post-content blockquote {
  border-left: 5px solid #fc0b1b;
  padding-left: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: #f8f8f8;
}
.post-content blockquote p {
  line-height: 1.5;
  color: #000;
  padding: 0.2rem 0;
}
.post-content h1 {
  display: none;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  color: #000;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}
.post-content h1:hover .headerlink,
.post-content h2:hover .headerlink,
.post-content h3:hover .headerlink,
.post-content h4:hover .headerlink,
.post-content h5:hover .headerlink,
.post-content h6:hover .headerlink {
  color: #fc0b1b;
  opacity: 1;
}
.post-content h1 .headerlink,
.post-content h2 .headerlink,
.post-content h3 .headerlink,
.post-content h4 .headerlink,
.post-content h5 .headerlink,
.post-content h6 .headerlink {
  position: relative;
  opacity: 0;
  outline: none;
}
.post-content h1 .headerlink::before,
.post-content h2 .headerlink::before,
.post-content h3 .headerlink::before,
.post-content h4 .headerlink::before,
.post-content h5 .headerlink::before,
.post-content h6 .headerlink::before {
  content: "#";
  position: absolute;
  right: -3px;
  width: 1em;
  font-weight: 700;
}
.post-content figure {
  margin: 0 auto;
  text-align: center;
}
.post-content .highlight,
.post-content .highlight table {
  margin: 0;
  width: 100%;
}
.post-content .highlight {
  overflow-x: auto;
  margin: 10px 0;
}
.post-content .highlight table,
.post-content .highlight tr,
.post-content .highlight td {
  padding: 0;
  border-collapse: collapse;
}
.post-content .gutter {
  background-color: #f7f7f7;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  text-align: right;
  width: 30px;
}
.post-content code {
  font-family: "Roboto Mono", "Menlo", "Consolas", monospace;
  font-size: 13px;
  background-color: #f6f6f6;
  padding: 3px 10px;
  margin: 0 5px;
  border-radius: 2px;
}
.post-content pre {
  font-family: "Roboto Mono", "Menlo", "Consolas", monospace;
  font-size: 13px;
  overflow-x: auto;
  text-align: left;
  padding: 10px 20px;
  background-color: #f6f6f6;
  line-height: 1.5em;
}
.post-content .gutter pre {
  color: #999;
}
.post-content pre {
  color: #525252;
}
.post-content pre .function .keyword,
.post-content pre .constant {
  color: #0092db;
}
.post-content pre .keyword,
.post-content pre .attribute {
  color: #e96900;
}
.post-content pre .number,
.post-content pre .literal {
  color: #ae81ff;
}
.post-content pre .tag,
.post-content pre .tag .title,
.post-content pre .change,
.post-content pre .winutils,
.post-content pre .flow,
.post-content pre .lisp .title,
.post-content pre .clojure .built_in,
.post-content pre .nginx .title,
.post-content pre .tex .special {
  color: #2973b7;
}
.post-content pre .class .title {
  color: #6af;
}
.post-content pre .symbol,
.post-content pre .symbol .string,
.post-content pre .value,
.post-content pre .regexp {
  color: #42b983;
}
.post-content pre .title {
  color: #a6e22e;
}
.post-content pre .comment,
.post-content pre .java .annotation,
.post-content pre .python .decorator,
.post-content pre .template_comment,
.post-content pre .pi,
.post-content pre .doctype,
.post-content pre .deletion,
.post-content pre .shebang,
.post-content pre .apache .sqbracket,
.post-content pre .tex .formula {
  color: #b3b3b3;
}
.post-content pre .coffeescript .javascript,
.post-content pre .javascript .xml,
.post-content pre .tex .formula,
.post-content pre .xml .javascript,
.post-content pre .xml .vbscript,
.post-content pre .xml .css,
.post-content pre .xml .cdata {
  opacity: 0.5;
}
