.post-box {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.post-box .post-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.post-box .post-item a {
  text-decoration: none;
}
.post-box .post-item .post-item-date {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
.post-box .post-item .post-item-title {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #333;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-box .post-item .post-item-title a {
  color: #333;
  text-decoration: none;
}
