body {
  padding: 0;
  margin: 0;
}
.container {
  position: absolute;
  width: 100%;
  height: 136vh;
  background-image: url("../image/index/img.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container .top {
  width: 100%;
  height: 136vh;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(18,18,18,0.5);
}
.container .top .top-title {
  position: absolute;
  top: 10%;
  left: 7%;
}
.container .top .top-title .txt-1 {
  color: #fff;
  font-size: 10rem;
  font-weight: 500;
  padding: 0;
  font-family: webfont2, serif;
}
.container .top .top-title .txt-2 {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 20px;
  font-family: txt3, serif;
}
.container .top .middle-title {
  position: absolute;
  bottom: 30%;
  right: 6%;
}
.container .top .middle-title .txt-1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  font-family: txt3, serif;
  text-align: right;
  letter-spacing: 20px;
}
.container .top .middle-title .txt-2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  font-family: txt3, serif;
  text-align: right;
  letter-spacing: 20px;
}
.container .top .middle-title .txt-3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  font-family: txt2, serif;
  text-align: right;
  letter-spacing: 20px;
}
.container .top .top-bottom-txt {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 20px;
  color: #fff;
  font-size: 1.8rem;
  font-family: txt3, serif;
}
.bg {
  width: 100%;
  height: 136vh;
  position: fixed;
  top: 0;
  background-image: url("../image/index/img.png");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  z-index: -1;
/*-webkit-filter: grayscale(100%);*/
/*filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);*/
}
.content-bottom {
  height: 136vh;
}
@font-face {
  font-family: "txt1";
  src: url("../text/tit.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "txt2";
  src: url("../text/tag.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "txt3";
  src: url("../text/tndj.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "zihun";
  src: url("../text/zh73hjnss.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "webfont";
  src: url("../text/fontawesome-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "webfont1";
  src: url("../text/fontawesome-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "webfont2";
  src: url("../text/fontawesome-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
.tags-wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}
.tags-wrap .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
.tags-wrap .tags .tag {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.tags-wrap .tags .tag:hover {
  color: #fff;
  background-color: #333;
}
.tags-wrap .tags .tag:hover .tag-icon {
  color: #fc0b1b;
}
.tags-wrap .one-tag-list {
  width: 80%;
  margin: 0 auto;
}
.tags-wrap .one-tag-list .tag-text {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease-in-out;
}
.tags-wrap .one-tag-list .tag-text .post-title-left {
  display: none;
  width: 0.26rem;
  height: 0.88rem;
  margin-right: 10px;
  background-color: #333;
}
.tags-wrap .one-tag-list .tag-text:hover {
  color: #fff;
  background-color: #333;
}
.tags-wrap .one-tag-list .tag-text:hover .post-title-left {
  display: inline-block;
  background-color: #fc0b1b;
}
.tags-wrap .one-tag-list .go-top-a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.tags-wrap .one-tag-list .go-top-a:hover {
  color: #fff;
  background-color: #333;
}
.tags-wrap .one-tag-list .post-preview .tag-item-date {
  font-size: 0.8rem;
  color: #999;
  padding: 0 10px;
}
.tags-wrap .one-tag-list .post-preview .post-title-a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.tags-wrap .one-tag-list .post-preview .post-title-a:hover {
  color: #333;
}
.tags-wrap .one-tag-list .post-preview .post-title-a .post-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #333;
  text-decoration: none;
}
.footer-container {
  margin-top: 6rem;
  display: flex;
}
.footer-container .content {
  margin: 33px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container .content .ye {
  color: rgba(82,100,136,0.6);
  font-size: 2rem;
  width: 30px;
  height: 30px;
  background: url("../svg/ye.svg") no-repeat;
  background-size: 30px 30px;
}
.footer-container .content .year {
  width: 100px;
  background-color: #fc0b1b;
  color: #fff;
  padding: 3px 3px;
  font-size: 1.2rem;
  font-family: txt2, serif;
  letter-spacing: 5px;
}
.footer-container .content .text {
  padding-top: 9px;
  color: rgba(82,100,136,0.6);
  letter-spacing: 5px;
  font-family: txt1, serif;
  font-size: 1rem;
}
.footer-container .content .copyright {
  padding-top: 3px;
  color: rgba(82,100,136,0.6);
  letter-spacing: 5px;
  font-family: txt1, serif;
  font-size: 1rem;
}
.footer-container .content .link {
  margin-bottom: 30px;
  color: rgba(82,100,136,0.6);
  letter-spacing: 5px;
  font-family: txt1, serif;
  font-size: 1rem;
}
.footer-container .content .link .link-name {
  display: inline-block;
  color: rgba(82,100,136,0.6);
}
.footer-container .content .router-link-active {
  color: #ff0;
}
.footer-container .content a {
  color: rgba(82,100,136,0.6);
}
html {
  scroll-behavior: smooth;
}
.post-container {
  padding: 20px;
  margin-left: 60px;
}
.post-container .post-header {
  margin-bottom: 10px;
}
.post-container .post-header .post-title {
  position: relative;
  font-size: 2em;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.post-container .post-header .post-title:not(.header-title.center)::before {
  content: '';
  border-left: 5px solid #fc0b1b;
  position: absolute;
  left: -15px;
  height: 75%;
  top: 12%;
}
.post-container .post-header .post-title.center {
  text-align: center;
}
@include media-query($on-mobile) {
  font-size: 1.9em;
}
.post-container .post-header .post-meta {
  padding-top: 3px;
  line-height: 1.3;
  color: #6b7886;
}
.post-container .post-header .post-meta time {
  position: relative;
  margin-right: 1.5em;
}
.post-container .post-header .post-meta time::after {
  background: #ececec;
  bottom: 1px;
  content: " ";
  height: 2px;
  position: absolute;
  right: -20px;
  width: 12px;
}
.post-container .post-header .post-meta span[itemprop="author"] {
  border-bottom: 1px dotted #ececec;
}
.post-content {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px;
}
.post-content .highlight {
  overflow-x: auto;
  margin: 10px 0;
}
.post-content .highlight:before {
  color: #6b7f94;
  opacity: 0.3;
  content: attr(data-lang);
  font-size: 1.9em;
  font-weight: 700;
  position: absolute;
  right: 0.3rem;
}
.post-content blockquote {
  border-left: 5px solid #fc0b1b;
  padding-left: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: #f8f8f8;
}
.post-content blockquote p {
  line-height: 1.5;
  color: #000;
  padding: 0.2rem 0;
}
.post-content h1 {
  display: none;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  color: #000;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}
.post-content h1:hover .headerlink,
.post-content h2:hover .headerlink,
.post-content h3:hover .headerlink,
.post-content h4:hover .headerlink,
.post-content h5:hover .headerlink,
.post-content h6:hover .headerlink {
  color: #fc0b1b;
  opacity: 1;
}
.post-content h1 .headerlink,
.post-content h2 .headerlink,
.post-content h3 .headerlink,
.post-content h4 .headerlink,
.post-content h5 .headerlink,
.post-content h6 .headerlink {
  position: relative;
  opacity: 0;
  outline: none;
}
.post-content h1 .headerlink::before,
.post-content h2 .headerlink::before,
.post-content h3 .headerlink::before,
.post-content h4 .headerlink::before,
.post-content h5 .headerlink::before,
.post-content h6 .headerlink::before {
  content: "#";
  position: absolute;
  right: -3px;
  width: 1em;
  font-weight: 700;
}
.post-content figure {
  margin: 0 auto;
  text-align: center;
}
.post-content .highlight,
.post-content .highlight table {
  margin: 0;
  width: 100%;
}
.post-content .highlight {
  overflow-x: auto;
  margin: 10px 0;
}
.post-content .highlight table,
.post-content .highlight tr,
.post-content .highlight td {
  padding: 0;
  border-collapse: collapse;
}
.post-content .gutter {
  background-color: #f7f7f7;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  text-align: right;
  width: 30px;
}
.post-content code {
  font-family: "Roboto Mono", "Menlo", "Consolas", monospace;
  font-size: 13px;
  background-color: #f6f6f6;
  padding: 3px 10px;
  margin: 0 5px;
  border-radius: 2px;
}
.post-content pre {
  font-family: "Roboto Mono", "Menlo", "Consolas", monospace;
  font-size: 13px;
  overflow-x: auto;
  text-align: left;
  padding: 10px 20px;
  background-color: #f6f6f6;
  line-height: 1.5em;
}
.post-content .gutter pre {
  color: #999;
}
.post-content pre {
  color: #525252;
}
.post-content pre .function .keyword,
.post-content pre .constant {
  color: #0092db;
}
.post-content pre .keyword,
.post-content pre .attribute {
  color: #e96900;
}
.post-content pre .number,
.post-content pre .literal {
  color: #ae81ff;
}
.post-content pre .tag,
.post-content pre .tag .title,
.post-content pre .change,
.post-content pre .winutils,
.post-content pre .flow,
.post-content pre .lisp .title,
.post-content pre .clojure .built_in,
.post-content pre .nginx .title,
.post-content pre .tex .special {
  color: #2973b7;
}
.post-content pre .class .title {
  color: #6af;
}
.post-content pre .symbol,
.post-content pre .symbol .string,
.post-content pre .value,
.post-content pre .regexp {
  color: #42b983;
}
.post-content pre .title {
  color: #a6e22e;
}
.post-content pre .comment,
.post-content pre .java .annotation,
.post-content pre .python .decorator,
.post-content pre .template_comment,
.post-content pre .pi,
.post-content pre .doctype,
.post-content pre .deletion,
.post-content pre .shebang,
.post-content pre .apache .sqbracket,
.post-content pre .tex .formula {
  color: #b3b3b3;
}
.post-content pre .coffeescript .javascript,
.post-content pre .javascript .xml,
.post-content pre .tex .formula,
.post-content pre .xml .javascript,
.post-content pre .xml .vbscript,
.post-content pre .xml .css,
.post-content pre .xml .cdata {
  opacity: 0.5;
}
.post-nav {
  border-color: #1b1d25;
  width: 30%;
  margin: 20px auto;
  margin-top: 38px;
  padding: 0 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #666;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-nav .post-nav-item {
  display: inline-block;
  text-decoration: none;
}
.post-nav .post-nav-item {
  font-weight: 700;
}
.post-nav .post-nav-item .post-title {
  color: #6e6e6e;
  opacity: 0.9;
}
.post-nav .post-nav-item:hover .post-title,
.post-nav .post-nav-item:focus .post-title {
  color: #fc0b1b;
}
.post-nav .post-nav-item .nav-arrow {
  color: #767f87;
  margin-bottom: 6px;
}
.go-top-container {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
}
.go-top-container .box {
  padding: 3px 6px;
  height: 80px;
  border-radius: 5px;
  line-height: 80px;
  text-align: center;
  margin: 0 auto;
  background-color: #f0f0f0;
/* 定义动画 */
}
.go-top-container .box a {
  text-align: center;
  text-decoration: none;
}
.go-top-container .box .box-top {
  width: 30px;
  height: 30px;
  background: url("../svg/top.svg") no-repeat;
  background-size: 30px 30px;
  margin-bottom: 10px;
}
.go-top-container .box .box-top:hover {
  animation: bounce 1.5s infinite;
}
.go-top-container .box .box-index {
  width: 30px;
  height: 30px;
  background: url("../svg/home.svg") no-repeat;
  background-size: 30px 30px;
/* 指定动画名称、持续时间和重复次数 */
}
.go-top-container .box .box-index:hover {
  animation: bounce 1.5s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* 在关键帧的不同时间点设置 translateY 值 */
  }
  40% {
    transform: translateY(-10px); /* 在 40% 的时间点上跳到上方 */
  }
  60% {
    transform: translateY(-5px); /* 在 60% 的时间点上跳回一点 */
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* 在关键帧的不同时间点设置 translateY 值 */
  }
  40% {
    transform: translateY(-10px); /* 在 40% 的时间点上跳到上方 */
  }
  60% {
    transform: translateY(-5px); /* 在 60% 的时间点上跳回一点 */
  }
}
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* 在关键帧的不同时间点设置 translateY 值 */
  }
  40% {
    transform: translateY(-10px); /* 在 40% 的时间点上跳到上方 */
  }
  60% {
    transform: translateY(-5px); /* 在 60% 的时间点上跳回一点 */
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* 在关键帧的不同时间点设置 translateY 值 */
  }
  40% {
    transform: translateY(-10px); /* 在 40% 的时间点上跳到上方 */
  }
  60% {
    transform: translateY(-5px); /* 在 60% 的时间点上跳回一点 */
  }
}
