@font-face {
  font-family: "txt1";
  src: url("../text/tit.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "txt2";
  src: url("../text/tag.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "txt3";
  src: url("../text/tndj.woff");
  font-weight: normal;
  font-style: normal;
}
/*字魂73号*/
@font-face {
  font-family: "zihun";
  src: url("../text/zh73hjnss.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "webfont";
  src: url("../text/fontawesome-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "webfont1";
  src: url("../text/fontawesome-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "webfont2";
  src: url("../text/fontawesome-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
